{
	"name": "DBO-$tableCategory-3H-INCR-$tableName",
	"config": {
		"name": "MW_FACETS-DBO-TS3-$tableCategory-3H-INCR-$tableName",
		"connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
		"mode": "timestamp",
		"timestamp.column.name": "$tableAuditColumn",
		"group.id": "DBO-$tableCategory-3H-INCR-$tableName",
		"key.converter.schema.registry.ssl.keystore.location": "/opt/certs/kafka.keystore.jks",
		"key.converter.schema.registry.url": "",
		"key.converter.schema.registry.ssl.key.password": "",
		"key.converter.schema.registry.ssl.truststore.password": "",
		"key.converter": "io.confluent.connect.avro.AvroConverter",
		"key.converter.schema.registry.ssl.keystore.password": "",
		"key.converter.schema.registry.ssl.truststore.location": "/opt/certs/kafka.truststore.jks",
		"value.converter.schema.registry.ssl.key.password": "",
		"value.converter.schema.registry.url": "",
		"value.converter": "io.confluent.connect.avro.AvroConverter",
		"value.converter.schema.registry.ssl.truststore.location": "/opt/certs/kafka.truststore.jks",
		"value.converter.schema.registry.ssl.keystore.location": "/opt/certs/kafka.keystore.jks",
		"value.converter.schema.registry.ssl.truststore.password": "",
		"value.converter.schema.registry.ssl.keystore.password": "",
		"connection.password": "",
		"connection.url": "",
		"connection.user": "",
		"tasks.max": "2",
		"table.types": "TABLE",
		"table.whitelist": "$tableName",
		"topic.prefix": "facets_ts3.incr.dbo-stage.",
		"poll.interval.ms": "10800000",
		"producer.override.compression.type": "gzip",
		"batch.max.rows": "16000",
		"schema.pattern": "dbo",
		"transforms": "copyIdToKey",
		"transforms.copyIdToKey.type": "org.apache.kafka.connect.transforms.ValueToKey",
		"transforms.copyIdToKey.fields": "$tableKey"
	}
}